/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.home-image {
  width: 200px;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  color: #555555;
}
